In [1]:
import pandas as pd
import numpy as np

In [5]:
a = pd.DataFrame([1,2,3,4],index=[0,0,0,0])
a

   0
0  1
0  2
0  3
0  4

In [8]:
b =a.reset_index()

In [11]:
b

   index  0
0      0  1
1      0  2
2      0  3
3      0  4

In [10]:
display(b.style.set_caption('1243'))